body {
    position: static !important;
    margin: 0;
    padding: 0;
    width: 100%;
    background: white;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Georgia",serif;
    overflow-x: auto;
    word-wrap: break-word;
    --brown:#a47048;--darker-brown:#915121;--teal:#508080}

#center {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px 8px 16px
}

@media only screen and (max-width: 800px) {
    #center {
        padding:0 1.5% 1% 1.5%
    }
}

table {
    border-collapse: collapse
}

table#wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 395px;
    border-style: none;
    table-layout: fixed
}

table#wrapper>tbody>tr>td {
    vertical-align: top
}

td#column-left {
    position: relative;
    padding: 0 22px 6px 6px;
    width: 160px;
    margin: 0
}

table#wrapper>tbody>tr>td#column-left-bottom {
    vertical-align: bottom;
    padding: 6px 22px 23px 6px;
    width: 160px;
    margin: 0
}

td#column-content {
    border-left: 1px dotted #a0c0c0;
    margin: 0;
    padding: 8px 8px 8px 28px
}

#content>p,#content>ul,#content>ol,#content>blockquote,#content>div,#content>h2,#content>h3,#content>h4,#content>table,#content>form {
    box-sizing: border-box;
    max-width: 560px
}

div#content {
    margin-bottom: 3em;
    min-width: 395px
}

body.forum td#column-content div#content {
    margin: 0
}

body.forum table.findex {
    min-width: 395px
}

div#single-column {
    margin: 0 auto;
    max-width: 680px;
    padding: 8px 8px 8px 16px
}

#antad-top-left {
    display: block;
    width: 160px;
    height: 600px;
    margin-bottom: 33px;
    overflow: hidden;
    text-align: right
}

#antad-bottom-left {
    position: absolute;
    display: block;
    bottom: 22px;
    right: 22px;
    width: 160px;
    height: 600px;
    overflow: hidden
}

body.forum #antad-bottom-left {
    position: static
}

#antad-top {
    display: none;
    width: 320px;
    max-height: 100px;
    margin-top: 33px;
    margin-bottom: 33px;
    overflow: hidden
}

@media only screen and (max-width: 720px) {
    td#column-left,td#column-left-bottom {
        display:none
    }

    #antad-top {
        display: block
    }

    td#column-content {
        border-left: 0;
        padding-left: 8px;
        padding-right: 8px
    }

    td#column-content div.menubox {
        display: block
    }
}

@media only screen and (max-width: 525px) {
    td#column-content,div#single-column {
        padding-left:0;
        padding-right: 0
    }
}

div#site-header {
    position: relative;
    margin: 0;
    height: 99px
}

a#site-logo {
    position: absolute;
    left: 0;
    bottom: 11px;
    display: block;
    margin-left: 1px;
    width: 360px;
    height: 53px;
    background: url('/antimoon-logo.png') no-repeat;
    background-position: 0 0;
    background-size: 360px 53px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min-resolution:1.3dppx),only screen and (min-resolution:120dpi) {
    a#site-logo {
        background-image:url('/antimoon-logo-2x.png')
    }
}

@media only screen and (max-width: 670px) {
    a#site-logo {
        width:168px
    }
}

div#site-search {
    position: absolute;
    right: 0;
    bottom: 11px;
    padding-right: 1px;
    width: 40%;
    max-width: 210px
}

div#site-search form {
    margin: 0
}

div#site-search input.field {
    box-sizing: border-box;
    font-size: 14px;
    padding-right: 22px !important;
    width: 100%;
    height: 26px;
    margin: 0;
    margin-bottom: 1px;
    padding: 2px;
    border-radius: 0;
    border: solid 1px #7e9db9 !important
}

#site-search-box-container {
    position: relative
}

#site-search-box-container:after {
    display: inline-block;
    position: absolute;
    content: '';
    right: 1px;
    top: 2px;
    width: 13px;
    height: 15px;
    border: solid 4px white;
    background: #fff url('/images/search-lightbg.png') no-repeat;
    background-size: 13px 15px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min-resolution:1.3dppx),only screen and (min-resolution:120dpi) {
    #site-search-box-container:after {
        background-image:url('/images/search-lightbg-2x.png')
    }
}

div.mainmenu {
    width: 100%;
    height: auto;
    margin-bottom: 22px;
    background-color: #b9b6a3;
    background-color: #aba797;
    border-radius: 2px
}

ul.mainmenu {
    display: inline-block;
    *display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white
}

ul.mainmenu>li {
    display: inline-block;
    *display: inline;
    zoom:1;margin: 0;
    border-right: solid 1px white;
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    font-size: 13px;
    line-height: 37px
}

@media only screen and (max-width: 525px) {
    ul.mainmenu>li {
        line-height:24px
    }
}

ul.mainmenu>li a:link,ul.mainmenu>li a:visited {
    display: inline-block;
    *display: inline;
    zoom:1;padding: 1px 9px 0;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    background: #aba797;
    background: -webkit-linear-gradient(top,#b5b3a2 0,#b5b3a2 30%,#9e9b91 67%,#9e9b91 100%);
    background: linear-gradient(to bottom,#b5b3a2 0,#b5b3a2 30%,#9e9b91 67%,#9e9b91 100%)
}

@media only screen and (max-width: 800px) {
    ul.mainmenu>li a:link,ul.mainmenu>li a:visited {
        padding:1px 7px 0
    }
}

ul.mainmenu>li.current a {
    background: #c1aa84
}

ul.mainmenu>li a:hover {
    background: #b8b5a8
}

ul.mainmenu>li.current a:hover {
    background: #c8b491
}

div#breadcrumbs {
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    font-size: 15px;
    line-height: 1.60;
    font-style: italic;
    margin-bottom: .8em
}

div#breadcrumbs>a {
    text-decoration: none;
    border-bottom: dotted 1px;
    padding-bottom: 1px
}

div#breadcrumbs>small {
    font-size: 93.33%;
    margin-left: .33em
}

div#breadcrumbs>div {
    font-size: 14px;
    line-height: 1.40;
    margin-bottom: .3em
}

div#breadcrumbs>div>a {
    padding-bottom: 0
}

#cookie-message {
    position: relative;
    z-index: 2;
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 8px 120px 8px 12px;
    background-color: #724e3f
}

#cookie-message a {
    white-space: nowrap;
    background-color: #4c362a;
    border-radius: 3px;
    text-decoration: none;
    padding: 4px 10px;
    cursor: pointer
}

#cookie-message,#cookie-message a {
    color: #efbda7
}

div#page-footer {
    margin-top: 80px;
    clear: both;
    line-height: 1.25
}

div.share-links {
    min-height: 20px;
    line-height: 1.25;
    zoom:1}

div.share-links-label {
    float: left;
    font-size: 14px;
    margin-right: 15px;
    color: #a47048;
    font-weight: bold;
    font-style: italic;
    font-family: "Trebuchet MS","Tahoma",sans-serif
}

div.share-links>button {
    display: inline-block;
    border: 0;
    vertical-align: top;
    margin-right: 4px
}

div.share-links>button:hover {
    opacity: .8
}

div.share-links>button#share-fb {
    background: url('/images/share-buttons-sprite.png') no-repeat 0 0;
    width: 57px;
    height: 20px
}

div.share-links>button#share-twitter {
    background: url('/images/share-buttons-sprite.png') no-repeat -58px 0;
    width: 58px;
    height: 20px
}

div.share-links>button#share-gplus {
    background: url('/images/share-buttons-sprite.png') no-repeat -117px 0;
    width: 32px;
    height: 20px
}

div#page-end-box {
    max-width: 350px;
    margin: 16px 0;
    padding: .75em 1.3em;
    font-size: 14px;
    line-height: 1.40;
    color: #239276;
    background-color: #f0f8f6;
    box-shadow: 4px 4px 0 0 #a9cccb;
    border-collapse: separate
}

div#page-end-box>ul {
    margin: .5em .5em 0 0;
    padding-left: 0;
    list-style-type: none
}

div#page-end-box>ul>li {
    margin-bottom: .6em
}

div#site-footer {
    margin: 4px 0 0 0;
    padding: 18px 0 28px;
    color: #887;
    border-top: double 3px silver;
    font-size: 13px;
    line-height: 1.40
}

div#site-footer>ul {
    margin: 0;
    padding: 0
}

div#site-footer>ul>li {
    display: inline;
    padding: 0
}

div#site-footer>ul>li>span.sep {
    margin: 0 3px
}

div.helpbox {
    float: right;
    width: 9em;
    margin: 4px 0 20px 0;
    padding: .5em;
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    font-size: 12px;
    line-height: 1.40;
    color: #a47048;
    border: solid 2px #a47048;
    border-radius: 7px
}

div.helpbox>p {
    margin: .4em 0
}

div.helpbox>p:first-child {
    margin-top: 0
}

div.helpbox>p:last-child {
    margin-bottom: 0
}

input {
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    font-size: 15px
}

textarea {
    font-family: "Georgia",serif;
    font-size: 16px
}

pre {
    font-family: "Courier New",monospace;
    font-size: 12px
}

h1,h2,h3,h4,div.subh1,div.superh1,div#author {
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    font-weight: bold;
    line-height: 1.30
}

h1,h2,h3,div#author,div.subh1,div.superh1 {
    color: #508080
}

h1 {
    font-size: 31px;
    margin-top: 25px;
    margin-bottom: 29px
}

h2 {
    font-size: 21px
}

h3 {
    font-size: 18px;
    font-style: italic
}

h2,h3 {
    margin-top: 1.21em;
    margin-bottom: .75em
}

div#author {
    margin-top: -15px;
    margin-bottom: 32px;
    font-size: 15px;
    font-style: italic;
    font-weight: normal
}

div.subh1 {
    margin-top: -26px;
    margin-bottom: 34px;
    font-size: 15px;
    font-style: italic;
    font-weight: normal
}

div.superh1 {
    margin-top: 25px;
    margin-bottom: -25px;
    font-size: 17px;
    font-style: normal;
    font-weight: bold
}

div#copyright {
    display: none
}

p {
    margin-top: .75em;
    margin-bottom: .75em
}

p:first-child {
    margin-top: 0
}

p:last-child {
    margin-bottom: 0
}

p.bottom {
    margin-bottom: 0
}

li p {
    margin-top: .5em;
    margin-bottom: .5em
}

ul {
    list-style-type: disc;
    margin: .75em 0;
    padding: 0 0 0 1em
}

ul.indented {
    padding-left: 1em
}

@media all and (-webkit-min-device-pixel-ratio: 0) {
    ul {
        padding-left:1.2em
    }

    ul.indented {
        padding-left: 2.2em
    }
}

ol {
    margin: .75em 0;
    padding: 0 0 0 1.4em
}

ol.indented {
    padding-left: 2.4em
}

ol.tenormore {
    padding-left: 1.9em
}

li {
    margin: .5em 0 0 0;
    padding: 0
}

li:first-child {
    margin-top: 0
}

li li:last-child {
    margin-bottom: .75em
}

li>ul,li>ol {
    margin-top: .5em;
    margin-bottom: .5em
}

li>ul {
    list-style-type: circle
}

ol.fancy {
    list-style-type: none;
    counter-reset: li;
    padding-left: 1.7em
}

ol.fancy>li:before {
    display: block;
    float: left;
    margin-left: -2em;
    margin-top: .3em;
    text-align: center;
    text-indent: 0;
    background-color: rgba(39,90,88,0.56);
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.45);
    font-family: "Trebuchet MS",sans-serif;
    font-size: 13px;
    height: 17px;
    width: 17px;
    line-height: 17px;
    border-radius: 11px;
    content: counter(li,decimal);
    counter-increment: li
}

span.numbullet {
    display: inline-block;
    text-align: center;
    background-color: #508080;
    background-color: #609090;
    background-color: #6b9393;
    background-color: #a7a7a7;
    background-color: rgba(0,0,0,0.35);
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.45);
    font-family: "Trebuchet MS",sans-serif;
    font-size: 13px;
    height: 17px;
    width: 17px;
    line-height: 17px;
    border-radius: 15px
}

a[type="audio/mpeg"]>span.numbullet {
    background-color: #62af94;
    margin-right: -1px
}

a[type="audio/mpeg"]:hover>span.numbullet {
    background-color: #bc6d9c
}

ul.article-list {
    list-style-type: none;
    margin: 1.5em 0 1.5em 0;
    padding-left: 0;
    color: #255;
    font-size: 16px
}

ul.article-list div.link {
    font-weight: bold;
    margin-bottom: 4px
}

ul.article-list div.summary {
    font-size: 15px;
    margin-left: 1.5em;
    font-style: italic;
    line-height: 1.40
}

ul.article-list>li {
    margin-top: .75em
}

ul.article-list>li li {
    margin-top: .4em
}

ul.article-list>li>ol {
    margin: .4em 0;
    padding-left: 2.6em;
    font-size: 15px;
    line-height: 1.40
}

ul.article-list>li>ol.quoted>li {
    padding-left: .3em;
    text-indent: -0.4em
}

ul.article-list>li>ul {
    margin: .4em 0;
    padding-left: 2.6em;
    font-size: 15px;
    line-height: 1.40;
    list-style-type: disc
}

@media all and (-webkit-min-device-pixel-ratio: 0) {
    ul.article-list>li>ul {
        padding-left:2.9em
    }
}

a:link {
    color: #009a50;
    text-decoration: underline
}

a:visited {
    color: #587c6a
}

a:link:hover,a:visited:hover {
    color: #b83480
}

.main {
    font-weight: bold
}

a.word,span.word {
    text-decoration: none;
    color: #7d531d
}

a.word.balloon-shown,span.word.balloon-shown,a.word.balloon-shown:hover,span.word.balloon-shown:hover {
    color: #179c62;
    box-shadow: 0 -3px 0 #6cbe9a inset;
    cursor: help;
    text-decoration: none
}

a.word:hover,span.word:hover {
    text-decoration: underline;
    cursor: help;
    color: #a77534
}

.float-container {
    overflow: hidden
}

@media screen {
    .horiz-scroll-border {
        position: relative
    }

    .horiz-scroll-border:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 25px;
        content: '';
        pointer-events: none;
        background-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,1) 20%,rgba(255,255,255,0));
        z-index: 1000;
        display: none
    }

    .horiz-scroll-border:after {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 25px;
        content: 'âžœ âžœ âžœ';
        font-size: 19px;
        line-height: 19px;
        color: #f44;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
        pointer-events: none;
        background-image: linear-gradient(to left,rgba(255,255,255,1),rgba(255,255,255,1) 20%,rgba(255,255,255,0));
        z-index: 1000;
        display: none
    }

    .horiz-scroll-border.left-overflow:before {
        display: inherit
    }

    .horiz-scroll-border.right-overflow:after {
        display: inherit
    }

    .horiz-scroll {
        overflow: auto
    }
}

div.tooltip-balloon {
    box-sizing: border-box;
    width: 275px;
    z-index: 100;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 2px 2px 2px silver;
    box-shadow: 2px 2px 2px rgba(99,99,99,0.4);
    font-family: Georgia,serif;
    font-size: 13px;
    line-height: 1.3em;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    background-color: #77c2a1;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto
}

div.tooltip-balloon>div.balloon-tail {
    position: absolute;
    display: block;
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 3px;
    border-style: none;
    background-color: #77c2a1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

div.tooltip-balloon>div.balloon-tail.above {
    top: -17px;
    left: 2px;
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom
}

div.tooltip-balloon>div.balloon-tail.below {
    top: auto;
    bottom: 0;
    box-shadow: 4px 1px 2px -2px rgba(99,99,99,0.4);
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom
}

div.tooltip-balloon>div.balloon-tail.right-side {
    top: 2px;
    right: -17px;
    box-shadow: 4px -1px 2px -2px rgba(99,99,99,0.4);
    transform-origin: left top;
    -webkit-transform-origin: left top
}

div.tooltip-balloon>div.balloon-text {
    margin-bottom: .5em
}

div.tooltip-balloon>div.balloon-actions {
    font-size: 12px;
    line-height: 1.4em;
    margin-left: 18px
}

div.tooltip-balloon>div.balloon-actions>span.lead {
    display: inline-block;
    vertical-align: middle;
    margin-left: -18px;
    background-image: url('/images/search-darkbg.png');
    background-repeat: no-repeat;
    background-size: 13px 15px;
    width: 18px;
    height: 15px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min-resolution:1.3dppx),only screen and (min-resolution:120dpi) {
    div.tooltip-balloon>div.balloon-actions>span.lead {
        background-image:url('/images/search-darkbg-2x.png')
    }
}

div.tooltip-balloon>div.balloon-message {
    margin-top: .5em;
    margin-bottom: -0.25em;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-family: "Trebuchet MS",sans-serif;
    color: #146b44
}

div.tooltip-balloon a {
    display: inline-block;
    margin-right: 1px;
    padding: 1px 3px;
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    white-space: nowrap;
    hyphens: manual;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    color: #e4fff1;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1)
}

div.tooltip-balloon code {
    font-size: inherit;
    color: inherit
}

a[type="audio/mpeg"]:visited:not(:hover) {
    color: #009a50
}

a[type="audio/mpeg"] {
    white-space: nowrap
}

a[type="audio/mpeg"]:after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 14px;
    margin-left: 3px;
    margin-right: 3px;
    background-image: url("/images/speaker-icons.png");
    vertical-align: -2px;
    background-size: 139px 14px
}

a[type="audio/mpeg"]:hover:after {
    background-position: -28px 0
}

a[type="audio/mpeg"]:active {
    background-color: #ede8d6
}

a[type="audio/mpeg"].loading:after {
    background-position: -14px 0;
    width: 8px;
    margin-right: 8px
}

a[type="audio/mpeg"].loading:hover:after {
    background-position: -42px 0
}

a[type="audio/mpeg"].playing:after {
    background-position: -14px 0;
    width: 13px;
    margin-right: 3px
}

a[type="audio/mpeg"].playing:hover:after {
    background-position: -42px 0
}

a[type="audio/mpeg"]:link code {
    color: inherit
}

code>a[type="audio/mpeg"]:link {
    text-decoration: none
}

a[type="audio/mpeg"]:link i {
    color: inherit
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min-resolution:1.3dppx),only screen and (min-resolution:120dpi) {
    a[type="audio/mpeg"]:after {
        background-image:url("/images/speaker-icons-3x.png")
    }
}

menu.audio-player {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 200px;
    margin: 16px 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background: #42aa82;
    background: linear-gradient(to bottom,#43876d,#43876d 30%,#92cdb9) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top,#43876d 0,#43876d 30%,#92cdb9 100%);
    padding: 1px 0 1px 3px;
    padding: 0;
    border-radius: 4px;
    border-bottom: solid 1px #888;
    border-right: solid 1px #888
}

div.sidenote menu.audio-player {
    width: 160px
}

menu.audio-player>a[type="audio/mpeg"],menu.audio-player>button.stop {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    display: block;
    float: left;
    vertical-align: top;
    line-height: 22px;
    width: 24px;
    height: 22px;
    overflow: hidden;
    text-align: center;
    margin: 1px 0;
    padding: 0;
    background: 0;
    border: 0;
    font-size: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer
}

menu.audio-player>a[type="audio/mpeg"]:focus,menu.audio-player>button.stop:focus {
    outline: solid 2px rgba(255,255,255,0.5)
}

menu.audio-player>button.stop::-moz-focus-inner {
    border: 0
}

menu.audio-player>a[type="audio/mpeg"]:link:hover,menu.audio-player>a[type="audio/mpeg"]:visited:hover,menu.audio-player>button.stop:hover {
    background-color: rgba(255,255,255,0.2)
}

menu.audio-player>button.stop:disabled:hover {
    background-color: inherit
}

menu.audio-player>a[type="audio/mpeg"],menu.audio-player>button.stop {
    background: url('/images/player-buttons.png') no-repeat;
    background-position: 7px 6px;
    background-size: 50px 12px
}

menu.audio-player>a[type="audio/mpeg"] {
    margin-left: 2px
}

menu.audio-player>a[type="audio/mpeg"].loading,menu.audio-player>a[type="audio/mpeg"].playing {
    background-position: -11px 6px
}

menu.audio-player>button.stop {
    background-position: -30px 6px
}

menu.audio-player>button.stop:disabled {
    opacity: .4;
    cursor: default
}

menu.audio-player>a[type="audio/mpeg"]:after {
    content: none
}

menu.audio-player>div.seekbar {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: default
}

menu.audio-player>div.seekbar.on {
    cursor: pointer
}

menu.audio-player>div.seekbar>div.play-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 23px;
    background-color: #96ccb8;
    background-color: rgba(255,255,255,0.4)
}

menu.audio-player>div.seekbar>div.play-progress-bar.on {
    border-right: solid 1px #da5188
}

menu.audio-player>div.seekbar>div.time-display {
    position: absolute;
    top: 0;
    right: 6px;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 11px;
    line-height: 23px;
    color: white;
    opacity: .9;
    text-align: right
}

menu.audio-player>span.sep {
    float: left;
    display: block;
    height: 100%;
    border-right: solid 1px white;
    opacity: .4
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min-resolution:1.3dppx),only screen and (min-resolution:120dpi) {
    menu.audio-player>a[type="audio/mpeg"],menu.audio-player>button.stop {
        background-image:url('/images/player-buttons-3x.png')
    }
}

code {
    font-family: "Lucida Sans Unicode","Lucida Grande","Segoe UI Semibold","DejaVu Sans","Charis SIL","Doulos SIL",sans-serif;
    font-style: normal;
    white-space: nowrap;
    color: #148281;
    color: #0b7a78;
    line-height: 1.00;
    font-size: .9375em
}

code img {
    vertical-align: bottom
}

code sup {
    vertical-align: 5px;
    font-size: 80%;
    line-height: .9
}

#content div.sidenote {
    box-sizing: content-box;
    max-width: 40%;
    clear: right;
    float: right;
    page-break-inside: avoid;
    width: 220px;
    margin: .4em 0 2em 2em;
    padding: 1.3em 1.5em;
    font-size: 14px;
    line-height: 1.5;
    background-color: #ede8d6;
    color: #333;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    overflow: hidden
}

#content>ul>li>div.sidenote,#content>ol>li>div.sidenote {
    max-width: 45%
}

#content li div.sidenote {
    margin-right: -40px
}

div.sidenote h3 {
    margin-top: 1em;
    margin-bottom: .9em;
    font-family: "Georgia",serif;
    font-size: 15px;
    line-height: 1.3;
    font-weight: bold;
    font-style: italic;
    color: #666
}

div.sidenote p {
    margin-bottom: .75em;
    margin-top: .75em
}

div.sidenote>p:first-child,div.sidenote>h3:first-child,div.sidenote>ul:first-child,div.sidenote>ol:first-child,div.sidenote>div:first-child {
    margin-top: .1em
}

div.sidenote>p:last-child,div.sidenote>p:last-child,div.sidenote>ol:last-child,div.sidenote>div:last-child {
    margin-bottom: .1em
}

div.sidenote>*.bottom {
    margin-bottom: .1em
}

div.sidenote code {
    font-size: 13px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75),-1px 1px 0 rgba(255,255,255,0.75)
}

#content div.img {
    margin-left: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    page-break-inside: avoid;
    max-width: 100%
}

img {
    box-sizing: content-box;
    max-width: 100%;
    border-style: none
}

#content div.img.float {
    float: right;
    clear: right;
    margin: .4em 0 1em 2em;
    max-width: 67%;
    max-width: calc(100% - 210px)
}

#content div.img.float.left {
    float: left;
    margin: .5em 2em 1em 0
}

div.img img {
    border: solid 1px black;
    max-width: 100%;
    max-width: calc(100% - 2px)
}

zzzzzzdiv.img.float img {
    box-sizing: content-box;
    border: solid 1px black
}

div.img cite {
    display: block;
    font-size: 75%;
    color: gray
}

div.img div.caption {
    font-size: 13px;
    text-align: center;
    margin-top: .2em;
    font-style: italic;
    line-height: 1.25
}

div.sidenote>div.img {
    margin: 1em 0
}

div.sidenote>div.img>div.caption {
    text-align: left
}

div.sidenote img {
    box-sizing: content-box;
    border: solid 2px #cdc8ad;
    max-width: calc(100% - 4px)
}

div.img img.noborder,div.sidenote img.noborder {
    border-style: none;
    max-width: 100%
}

div.img div.attribution {
    font-size: 12px;
    text-align: right;
    margin-top: .2em;
    font-style: italic;
    line-height: 1.25
}

div.img div.options {
    font-size: 14px;
    text-align: center;
    margin-top: .2em
}

#content div.full-page-width {
    max-width: none;
    overflow: auto;
    padding: 6px 0;
    background-color: white
}

@media only screen and (max-width: 525px) {
    #content div.sidenote {
        float:none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: auto !important;
        max-width: none !important
    }

    #content div.img.float {
        float: none !important;
        display: inline-block;
        max-width: 100% !important;
        height: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    img {
        height: auto !important
    }
}

em {
    font-weight: bold;
    font-style: inherit
}

em.em {
    font-weight: inherit;
    font-style: italic
}

cite {
    font-style: italic
}

b {
    font-weight: bold
}

i {
    font-style: italic
}

i.i {
    font-style: italic;
    text-transform: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: inherit
}

i.w {
    font-style: normal;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 1px
}

i i {
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px
}

q {
    font-style: italic;
    font-weight: normal
}

sup {
    line-height: 16px
}

dfn {
    font-weight: bold
}

i em {
    font-weight: bold;
    font-style: italic
}

.red {
    color: red
}

span.file,span.option,kbd {
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    font-weight: bold;
    color: #a47857;
    font-style: italic
}

span.corr {
    background-color: red;
    color: white
}

span.nobr {
    white-space: nowrap
}

span.inv {
    visibility: hidden
}

div.introduction {
    margin: 1em 0;
    font-size: 17px;
    font-style: italic;
    color: #7b4216
}

div.example,blockquote {
    position: relative;
    width: auto;
    margin: 1.5em 0 1.5em 0;
    padding: 0 2em 0 3em;
    color: #1e747b
}

blockquote:before,div.example:before {
    position: absolute;
    top: -11px;
    left: -5px;
    content: 'â€œ';
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    font-size: 78px;
    font-size: 75px;
    line-height: 1.0;
    color: #a3d3b9
}

blockquote p,div.example p {
    margin-bottom: .75em;
    margin-top: .75em
}

blockquote>p:first-child,div.example>p:first-child {
    margin-top: .2em
}

blockquote>p:last-child,div.example>p:last-child {
    margin-bottom: .2em
}

blockquote>*.bottom,div.example>*.bottom {
    margin-bottom: .2em
}

blockquote cite,div.example cite {
    font-size: 75%;
    opacity: .6
}

table.tab {
    margin: 1.5em 0;
    page-break-inside: avoid;
    border: solid 1px gray;
    border-bottom: solid 1px silver;
    max-width: 100%
}

li>table.tab {
    margin: 1em 0
}

table.tab td,table.tab th {
    font-size: 14px;
    line-height: 1.4;
    border-style: none;
    border-bottom: solid 1px silver;
    text-align: left;
    vertical-align: middle
}

table.tab.centered td,table.tab.centered th {
    text-align: center
}

table.tab td.word {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px
}

table.tab.nocellborders td {
    border-bottom-style: none
}

table.tab td {
    padding: .3em .7em
}

table.tab.bigcells td,table.tab.bigcells th {
    padding: .5em 1em
}

table.tab th {
    padding: .3em .7em;
    background-color: #ddd;
    color: teal;
    line-height: 1.286
}

table.tab tbody th {
    border-right: solid 1px silver
}

table.tab tr>td:first-child,table.tab>thead>tr>th:first-child,table.tab>tbody>tr>th:first-child {
    padding-left: 1em
}

table.tab tr>td:last-child,table.tab>thead>tr>th:last-child {
    padding-right: 1em
}

table.tab tbody tr:last-child td,table.tab tbody tr:last-child th {
    border-bottom-style: none
}

table.tab td code {
    font-size: 13px;
    line-height: 1.508
}

table.phon {
    border: solid 1px gray;
    margin: 0;
    page-break-inside: avoid
}

table.phon caption {
    text-align: left;
    font-size: 13px;
    font-weight: normal
}

table.phon tr:hover {
    background-color: #f7f4e6
}

table.phon tr.note-shown {
    background-color: #ede8d6
}

table.phon td,table.phon th {
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.286;
    border-style: none;
    border-bottom: solid 1px #ccc;
    text-align: left
}

table.phon#chart-vowels {
    float: left;
    margin-right: 24px
}

table.phon#chart-consonants {
    float: left
}

table.phon td {
    line-height: 21px;
    padding: 3px 5px 3px
}

table.phon th {
    text-align: left;
    background-color: #ddd;
    color: teal;
    font-weight: bold;
    padding: .25em .25em .25em .25em
}

table.phon th.listen {
    padding-left: 8px
}

table.phon td.listen {
    padding-left: 2px
}

table.phon td.ipa {
    padding-left: .7em;
    padding-right: .4em
}

table.phon tr>th:first-child {
    padding-left: .6em
}

table.phon tr>th:last-child {
    padding-right: .6em
}

table.phon .ipa,table.phon .ascii {
    text-align: center
}

table.phon td.wordex {
    text-align: left;
    color: #7a7a7a;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    padding-right: .2em
}

table.phon td.wordex em {
    text-decoration: underline;
    font-weight: normal;
    font-style: normal
}

table.phon td.listen1,table.phon td.listen2 {
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

table.phon td.listen1 {
    padding-right: 2px
}

table.phon td.listen2 {
    padding-left: 0
}

table.phon td.notes {
    padding: 1px 10px 1px 12px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

table.phon td.expl {
    text-align: left;
    padding: .3em .5em;
    color: #444;
    font-size: 14px;
    line-height: 18px;
    white-space: normal
}

table.phon td.expl>p {
    margin: .75em 0
}

table.phon td.expl>p:first-child {
    margin-top: 0
}

table.phon td.expl>p:last-child {
    margin-bottom: 0
}

table.phon td.expl>p.bottom {
    margin-bottom: 0
}

table.phon td.ftnote {
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    font-size: 10px;
    padding: 0 7px 0 0;
    vertical-align: top;
    text-align: left;
    color: #666
}

table.phon code {
    color: black
}

table.phon .ipa code,table.phon .ascii code {
    font-size: 15px
}

table.phon tr.am .ipa code {
    color: #22b
}

table.phon tr.br .ipa code {
    color: #b22
}

table.phon td.listen a[type="audio/mpeg"] {
    display: inline-block;
    line-height: 14px;
    color: inherit;
    text-decoration: inherit;
    white-space: nowrap;
    margin: 0;
    padding: 1px 5px;
    font-size: 11px;
    font-family: "Trebuchet MS",sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
    border-radius: 3px
}

table.phon td.listen a[type="audio/mpeg"]:focus {
    outline: 0
}

table.phon td.listen a[type="audio/mpeg"]+a[type="audio/mpeg"] {
    margin-left: -4px
}

table.phon td.listen a[type="audio/mpeg"]:hover,table.phon td.listen a[type="audio/mpeg"]:focus {
    background-color: white;
    border-color: rgba(0,0,0,0.05) rgba(0,0,0,0.05) rgba(0,0,0,0.2) rgba(0,0,0,0.05)
}

table.phon td.listen a[type="audio/mpeg"]:after {
    margin: 0 0 0 1px;
    opacity: .8;
    white-space: nowrap
}

table.phon td.listen a[type="audio/mpeg"].AmE {
    color: #55b
}

table.phon td.listen a[type="audio/mpeg"].BrE {
    color: #b55
}

table.phon td.listen a[type="audio/mpeg"].AmE:after,table.phon td.listen a[type="audio/mpeg"].AmE.playing:after {
    background-position: -98px 0
}

table.phon td.listen a[type="audio/mpeg"].AmE.loading:after {
    background-position: -98px 0;
    width: 8px;
    margin-right: 5px
}

table.phon td.listen a[type="audio/mpeg"].AmE.playing:after {
    background-position: -98px 0
}

table.phon td.listen a[type="audio/mpeg"].BrE:after,table.phon td.listen a[type="audio/mpeg"].BrE.playing:after {
    background-position: -126px 0
}

table.phon td.listen a[type="audio/mpeg"].BrE.loading:after {
    background-position: -126px 0;
    width: 8px;
    margin-right: 5px
}

table.phon span.AmE {
    color: #55b
}

table.phon span.BrE {
    color: #b55
}

table.phon span.dialect-tag {
    font-size: 11px;
    font-family: Trebuchet MS;
    font-style: italic;
    letter-spacing: 1px;
    margin-right: 2px;
    opacity: .8
}

table.phon a.notes {
    display: block;
    line-height: 23px;
    font-size: 11px;
    font-family: Trebuchet MS;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00a856;
    color: #009a50;
    text-decoration: none;
    cursor: pointer
}

table.phon a.notes:hover {
    text-decoration: underline
}

table.phon a.notes:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-left: 3px;
    vertical-align: -2px;
    background-image: url("/images/popup.png");
    background-position: 0 0;
    opacity: 1
}

div.popup {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: opacity .15s linear,visibility .15s linear;
    position: fixed;
    top: 0;
    z-index: 10000000;
    height: 100%;
    min-width: 300px;
    max-width: 700px;
    padding: 30px 30px 30px 50px;
    background-color: #ede8d6;
    color: #111
}

div.popup i {
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px
}

div.popup.right {
    right: 0;
    width: 52%
}

div.popup.left {
    left: 0;
    width: 48%
}

div.popup>div.note-scroller {
    height: 100%;
    padding-right: 20px;
    overflow-y: auto
}

div.popup>div.note-scroller>div.note-wrapper {
    display: table;
    height: 100%;
    table-layout: fixed
}

div.popup>div.note-scroller>div.note-wrapper>div.note {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 14px;
    line-height: 21px;
    transition: opacity .15s linear
}

div.popup>div.closebutton {
    float: right;
    margin: 0 10px 20px 20px;
    padding: 0 8px;
    font-family: Georgia;
    font-size: 23px;
    line-height: 36px;
    color: #666;
    font-weight: bold;
    border: solid 2px #666;
    cursor: pointer
}

div.popup>div.closebutton:hover {
    background-color: #fcf8ed
}

div.popup h2 {
    display: none
}

div.popup h3 {
    font-family: "Georgia",serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75)
}

div.popup h3:first-child {
    margin-top: 0
}

div.popup code {
    font-size: 13px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75),-1px 1px 0 rgba(255,255,255,0.75)
}

div.popup i a[type="audio/mpeg"]:link:not(:hover) {
    color: #008b48;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4),-1px 1px 0 rgba(255,255,255,0.4)
}

ol.footnotes {
    list-style-type: none;
    margin: 2em 0;
    padding-left: 0;
    padding-top: 10px;
    border-top: solid 1px silver;
    font-size: 12px;
    line-height: 17px;
    color: #777
}

div.img ol.footnotes,ol.footnotes.noborder {
    border-top: 0;
    padding-top: 0
}

ol.footnotes>li:first-child {
    margin-top: 0
}

ol.footnotes>li:last-child {
    margin-bottom: 0
}

ol.footnotes>li {
    margin-top: 6px;
    margin-left: 22px
}

ol.footnotes>li>span.marker {
    display: block;
    float: left;
    width: 20px;
    margin-left: -22px;
    margin-right: 2px;
    text-align: right
}

div.sidenote>ol.footnotes {
    border-top: 0;
    padding-top: 0;
    line-height: inherit;
    color: inherit
}

div.sidenote>ol.footnotes>li {
    margin-left: 9px
}

div.sidenote>ol.footnotes>li>p {
    margin: 0;
    text-indent: .75em
}

div.sidenote>ol.footnotes>li>p:first-of-type {
    text-indent: 0
}

div.sidenote>ol.footnotes>li>span.marker {
    margin-left: -24px
}

ol.footnotes code {
    color: #222;
    font-size: 13px
}

ol.footnotes i.w {
    font-size: 11px
}

table.proandcon {
    background-color: #f2f2f2;
    border: solid 2px #e0e0e0;
    page-break-inside: avoid
}

table.proandcon .right {
    background-color: #fafafa
}

table.proandcon th {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: .5em 1em
}

table.proandcon td {
    font-size: 14px;
    vertical-align: top;
    padding: .5em 1.2em
}

table.proandcon ul {
    margin: 0 0 .75em 0;
    padding-left: 1em
}

table.proandcon td li {
    margin-bottom: .5em
}

table.comparison {
    width: 100%;
    background-color: #f2f2f2;
    border: solid 2px #e0e0e0
}

table.comparison th {
    border: solid 1px #e0e0e0;
    background-color: #e0e0e0;
    padding: .5em;
    font-size: 14px;
    font-weight: bold;
    color: #333
}

table.comparison td {
    font-size: 14px;
    vertical-align: top;
    padding: 1em;
    width: 50%;
    border: solid 1px #e0e0e0
}

table.comparison td>ul {
    margin: 0;
    padding-left: .5em
}

table.comparison td>ul>li>ul {
    margin: .5em 0
}

table.comparison td li {
    margin: 0
}

div.feedback {
    font-weight: bold;
    margin-top: 3em
}

span.highlights {
    font-weight: normal
}

div.acknowledgments {
    margin-top: 3em;
    font-style: italic
}

div.next-article-link {
    font-size: 14px;
    font-weight: bold
}

dl.item {
    display: block;
    max-width: 420px;
    margin: 1.8em auto 1.8em 3px;
    font-family: "Trebuchet MS","Tahoma",sans-serif;
    font-size: 15px;
    line-height: 1.40
}

li dl.item {
    margin-top: 1em;
    margin-bottom: 1em
}

dl.item>dt,dl.item>dd {
    display: block
}

dl.item>dt {
    float: left;
    margin-top: 3px;
    padding: .25em .05em .25em .15em;
    width: 1em;
    color: #7ab79e;
    font-weight: bold;
    font-style: italic;
    cursor: help
}

dl.item>dd {
    margin-left: 21px;
    min-height: 1.4em;
    margin-top: 3px;
    padding: .5em .6em;
    background-color: #dfefea;
    color: #1e747b;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff
}

dl.item>dt:first-of-type,dl.item>dd:first-of-type {
    margin-top: 0
}

ol.definitions {
    margin-top: 1.5em;
    margin-left: 1.7em
}

ol.definitions li {
    margin-bottom: 2em
}

ol.definitions div {
    margin-bottom: .5em
}

ul.ex {
    list-style-type: none
}

div.ex {
    margin: 1em 0 1.5em 1.5em
}

div.ex>div,ul.ex>li {
    font-style: italic;
    margin: 0 0 .5em 0;
    color: #266
}

span.speechpart {
    font-size: 55%
}

div.pronunc {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px
}

div.pronunc div.pronunc-help {
    font-size: 12px;
    font-weight: normal;
    margin-top: .2em
}

div.pronunc code {
    color: black
}

table.wordlist td {
    vertical-align: top;
    padding: 0;
    padding-right: 1.5em;
    font-size: 16px;
    line-height: 1.25
}

span.wordtype,span.cf {
    color: gray;
    font-size: 10px
}

table.findex th,table.findex td {
    padding: .1em;
    padding-bottom: .3em;
    line-height: 1.25
}

table.findex a {
    text-decoration: none
}

table.findex a:hover {
    text-decoration: underline
}

table.findex th.thread {
    text-align: left
}

table.findex th.messages {
    text-align: center
}

table.findex th.lastmessage {
    padding-left: 10px;
    text-align: left
}

table.findex td.thread {
    text-align: left
}

table.findex td.bullet {
    vertical-align: top;
    padding-right: .5em
}

table.findex td.messages {
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    font-size: 14px;
    color: #555;
    text-align: center
}

table.findex td.lastmessage {
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
    color: #555
}

span.pagelist {
    font-size: 75%;
    color: gray
}

span.pagelist a {
    text-decoration: underline
}

div#forumintro {
    background-color: #ede8d6;
    line-height: 1.30;
    padding: 1em 1.1em;
    margin: 1.5em 0
}

body.forum.index div#left,body.forum.topic div#left {
    float: left;
    vertical-align: top;
    padding-left: 6px;
    padding-right: 22px;
    width: 160px
}

div.menubox {
    border: dotted 2px #a0c0c0;
    padding: 3px;
    width: 110px;
    margin-left: 40px;
    margin-bottom: 30px
}

#column-content div.menubox {
    margin-left: 0;
    display: none
}

div.menubox div.opt {
    padding: 3px 7px;
    font-weight: normal
}

div.menubox div.opt.sel {
    background: #eee;
    color: #007070;
    font-weight: bold
}

div#logininfo {
    font-size: 13px
}

div.modlink {
    margin-top: 1em;
    font-size: 13px
}

ul.threads {
    padding-left: 1.2em;
    line-height: 1.25
}

ul.threads>li {
    margin: 0;
    margin-bottom: .35em
}

ul.threads>li>a {
    text-decoration: none
}

div.post {
    margin-bottom: 1.5em;
    width: 100%
}

div.post>div.header {
    padding: 0 0 .5em 0;
    line-height: 1.25
}

div.post>div.msg {
    background: #eee;
    padding: 1em;
    line-height: 1.40
}

div.post>div.header span.authorid {
    font-style: normal;
    padding-top: .5em
}

div.post>div.header span.time {
    font-size: 12px;
    color: #888;
    white-space: nowrap
}

div.pagination {
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 2em 0
}

div.pagination span.pages a {
    color: black;
    font-weight: normal
}

div#reminder {
    color: #005050;
    font-size: 100%;
    font-family: "Georgia",serif;
    margin-top: -1.2em;
    margin-bottom: 2em
}

textarea#msg {
    margin-bottom: 1em;
    width: 39em;
    height: 22em
}

input#subject {
    width: 35em
}

input#authorname {
    width: 22em
}

@media print {
    body,body.mediawiki {
        font-family: "Palatino Linotype","Palatino","Times New Roman",serif
    }

    h1,h2,h3,div.subh1,div.superh1,div#copyright,div.sidenote,div.sidenote h3 {
        font-family: "Palatino Linotype","Palatino","Helvetica","Arial",sans-serif
    }

    code {
        font-family: "Calibri","Doulos SIL","Charis SIL","Lucida Grande","Lucida Sans Unicode",sans-serif
    }

    body,pre {
        font-size: 10pt
    }

    code {
        font-size: 100%
    }

    h1 {
        font-size: 20pt
    }

    h2 {
        font-size: 13pt
    }

    h3 {
        font-size: 11pt
    }

    div.sidenote {
        font-size: 10pt
    }

    div.sidenote h3 {
        font-size: 11pt
    }

    div.img div.caption {
        font-size: 8pt
    }

    div.img div.attribution {
        font-size: 8pt
    }

    div.img div.options {
        font-size: 8pt
    }

    blockquote:before,div.example:before {
        font-size: 42pt;
        color: #57ad7e
    }

    blockquote cite,div.example cite {
        font-size: 8pt
    }

    table.tab td,table.tab th {
        font-size: 10pt
    }

    table.tab td code {
        font-size: 100%
    }

    table.phon caption {
        font-size: 10pt
    }

    table.phon td,table.phon th {
        font-size: 10pt
    }

    table.phon td.listen,table.phon td.listen1,table.phon td.listen2 {
        font-size: 8pt
    }

    table.phon td.ftnote {
        font-size: 7pt
    }

    ol.footnotes {
        font-size: 8pt
    }

    ol.footnotes code {
        font-size: 100%
    }

    table.proandcon th {
        font-size: 10pt
    }

    table.proandcon td {
        font-size: 10pt
    }

    table.comparison td {
        font-size: 10pt
    }

    table.comparison th {
        font-size: 10pt
    }

    div.next-article-link {
        font-size: 10pt
    }

    dl.item {
        font-size: 9pt
    }

    body {
        color: black;
        padding: 0;
        margin: 0;
        min-width: inherit;
        max-width: inherit
    }

    h2,h3 {
        margin-top: 15pt;
        margin-bottom: 7.5pt
    }

    h1 {
        margin-top: 1cm
    }

    td#column-left,td#column-left-bottom,div#site-footer,div#page-footer,div#site-search,div.mainmenu,div#breadcrumbs,body.mediawiki td#column-right {
        display: none
    }

    .editsection {
        display: none
    }

    body.mediawiki #bodyContent a.external {
        background: 0;
        padding-right: 0
    }

    div.goog-te-ftab-float {
        display: none
    }

    td#column-content {
        margin: 0;
        padding: 0 3em;
        border: 0;
        border-left: 0;
        max-width: none;
        min-width: inherit
    }

    td#column-content div#content {
        margin: 0 80px 0 0;
        max-width: 38em
    }

    div#single-column {
        margin: 0 3em;
        padding: 0;
        max-width: 38em
    }

    div.sidenote,div.img.float,h1 {
        margin-right: -80px
    }

    div#site-header {
        margin: .5cm 0 0 0;
        width: 100%
    }

    img#site-logo {
        width: 6cm;
        height: auto;
        border: 0;
        position: absolute;
        left: auto;
        right: 1cm
    }

    div#author {
        display: none
    }

    div#copyright {
        display: block;
        margin-top: -2em;
        margin-bottom: 3em;
        color: #308080;
        font-style: italic;
        font-size: 10pt
    }

    blockquote,div.example {
        margin-left: 0;
        margin-right: .1cm;
        padding-left: 2.5em;
        padding-right: 0
    }

    dl.item dd {
        border: solid 1px #aaa
    }

    div.img cite,blockquote cite {
        color: #505050
    }

    a.word:link,a.word:visited {
        color: inherit
    }

    a:link,a:visited,a.main:link,a.main:visited {
        color: #275
    }

    span.word {
        color: inherit
    }

    span.corr {
        border-bottom: solid 1px red
    }

    div.sidenote {
        border: solid 3px gray;
        background: transparent
    }

    div.img.float div.options {
        display: none
    }

    img {
        max-width: 100% !important;
        height: auto !important
    }

    .full-page-width {
        margin-left: 0 !important;
        margin-right: -80px !important
    }
}
